Repository ionic-enterprise/tutorials-and-demos-ng: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.{css,html,js,jsx,scss,ts,tsx}": ["prettier --write", "eslint --fix"],
  "*.{md,json}": ["prettier --write"]
}

chore(): pnpm@10.33.0
  package.json
Due: prettier --write

chore(deps): bump to latest angular 20 (core@20.3.18) - pnpm update -r "@angular/*" "@angular-devkit/*" "angular-eslint" "typescript-eslint" "eslint"
  auth-connect/current-ui/package.json
  auth-connect/getting-started/package.json
  auth-connect/protect-routes/package.json
  auth-connect/refresh-workflow/package.json
  demos/auth-playground/package.json
  demos/iv-ac/package.json
  demos/pwa/package.json
  demos/security-trifecta/package.json
  demos/sqlcipher-kv-pair/package.json
  demos/state-management/package.json
  demos/tea-taster/package.json
  identity-vault/custom-passcode/package.json
  identity-vault/device-api/package.json
  identity-vault/getting-started/package.json
  identity-vault/startup-strategies/package.json
  pnpm-lock.yaml
Due: prettier --write

chore(deps): @ionic/angular@8.8.3
  auth-connect/current-ui/package.json
  auth-connect/getting-started/package.json
  auth-connect/protect-routes/package.json
  auth-connect/refresh-workflow/package.json
  demos/auth-playground/package.json
  demos/iv-ac/package.json
  demos/pwa/package.json
  demos/security-trifecta/package.json
  demos/sqlcipher-kv-pair/package.json
  demos/state-management/package.json
  demos/tea-taster/package.json
  identity-vault/custom-passcode/package.json
  identity-vault/device-api/package.json
  identity-vault/getting-started/package.json
  identity-vault/startup-strategies/package.json
  pnpm-lock.yaml
Due: prettier --write

chore(sqlcipher-kv-pair): update to @awesome-cordova-plugins/sqlite@9.1.2 - refactor `DatabaseService` to use new `SQLite` Injectable - Register provider `SQLite` during bootstrap
  demos/sqlcipher-kv-pair/package.json
  demos/sqlcipher-kv-pair/src/app/core/database.service.ts
  demos/sqlcipher-kv-pair/src/main.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

chore(): rm @stencil/core peerDependencies from root
  package.json
Due: prettier --write

fix(TastingNoteEditorComponent): NG8113 unused import warning
  demos/iv-ac/src/app/tasting-notes/tasting-notes.page.ts
  demos/pwa/src/app/tasting-notes/tasting-notes.page.ts
  demos/security-trifecta/src/app/tasting-notes/tasting-notes.page.ts
  demos/state-management/src/app/tasting-notes/tasting-notes.page.ts
  demos/tea-taster/src/app/tasting-notes/tasting-notes.page.ts
Due: prettier --write, eslint --fix

pnpm -r up @capacitor/privacy-screen@2
  demos/auth-playground/android/capacitor.settings.gradle
  demos/auth-playground/ios/App/Podfile
  demos/auth-playground/package.json
  demos/iv-ac/android/capacitor.settings.gradle
  demos/iv-ac/ios/App/Podfile
  demos/iv-ac/package.json
  demos/pwa/android/capacitor.settings.gradle
  demos/pwa/ios/App/Podfile
  demos/pwa/package.json
  demos/security-trifecta/android/capacitor.settings.gradle
  demos/security-trifecta/ios/App/Podfile
  demos/security-trifecta/package.json
  demos/state-management/android/capacitor.settings.gradle
  demos/state-management/ios/App/Podfile
  demos/state-management/package.json
  identity-vault/device-api/android/capacitor.settings.gradle
  identity-vault/device-api/ios/App/Podfile
  identity-vault/device-api/package.json
  pnpm-lock.yaml
Due: prettier --write

chore(ios): clear default development team in Xcode projects
  auth-connect/current-ui/ios/App/App.xcodeproj/project.pbxproj
  auth-connect/getting-started/ios/App/App.xcodeproj/project.pbxproj
  auth-connect/protect-routes/ios/App/App.xcodeproj/project.pbxproj
  auth-connect/refresh-workflow/ios/App/App.xcodeproj/project.pbxproj
  demos/auth-playground/ios/App/App.xcodeproj/project.pbxproj
  demos/iv-ac/ios/App/App.xcodeproj/project.pbxproj
  demos/pwa/ios/App/App.xcodeproj/project.pbxproj
  demos/security-trifecta/ios/App/App.xcodeproj/project.pbxproj
  demos/sqlcipher-kv-pair/ios/App/App.xcodeproj/project.pbxproj
  demos/tea-taster/ios/App/App.xcodeproj/project.pbxproj
  identity-vault/custom-passcode/ios/App/App.xcodeproj/project.pbxproj
  identity-vault/device-api/ios/App/App.xcodeproj/project.pbxproj
  identity-vault/getting-started/ios/App/App.xcodeproj/project.pbxproj
  identity-vault/startup-strategies/ios/App/App.xcodeproj/project.pbxproj
Due: none

(android): removed adjustMarginsForEdgeToEdge
  auth-connect/current-ui/capacitor.config.ts
  auth-connect/getting-started/capacitor.config.ts
  auth-connect/protect-routes/capacitor.config.ts
  auth-connect/refresh-workflow/capacitor.config.ts
  demos/auth-playground/capacitor.config.ts
  demos/iv-ac/capacitor.config.ts
  demos/pwa/capacitor.config.ts
  demos/security-trifecta/capacitor.config.ts
  demos/sqlcipher-kv-pair/capacitor.config.ts
  demos/state-management/capacitor.config.ts
  demos/tea-taster/capacitor.config.ts
  identity-vault/custom-passcode/capacitor.config.ts
  identity-vault/device-api/capacitor.config.ts
  identity-vault/getting-started/capacitor.config.ts
  identity-vault/startup-strategies/capacitor.config.ts
Due: prettier --write, eslint --fix

update auth0 redirectUri, android string.xml (config url_scheme)
  auth-connect/current-ui/android/app/src/main/res/values/strings.xml
  auth-connect/current-ui/android/variables.gradle
  auth-connect/current-ui/ios/App/App/Info.plist
  auth-connect/current-ui/src/app/core/authentication.service.ts
  auth-connect/getting-started/android/app/src/main/res/values/strings.xml
  auth-connect/getting-started/android/variables.gradle
  auth-connect/getting-started/ios/App/App/Info.plist
  auth-connect/getting-started/src/app/core/authentication.service.ts
  auth-connect/protect-routes/android/app/src/main/res/values/strings.xml
  auth-connect/protect-routes/android/variables.gradle
  auth-connect/protect-routes/ios/App/App/Info.plist
  auth-connect/protect-routes/src/app/core/authentication.service.ts
  auth-connect/refresh-workflow/android/app/src/main/res/values/strings.xml
  auth-connect/refresh-workflow/android/variables.gradle
  auth-connect/refresh-workflow/ios/App/App/Info.plist
  auth-connect/refresh-workflow/src/app/core/authentication.service.ts
  demos/auth-playground/android/app/src/main/res/values/strings.xml
  demos/iv-ac/android/variables.gradle
  demos/iv-ac/ios/App/App/Info.plist
  demos/iv-ac/src/app/core/authentication/authentication.service.ts
  demos/pwa/android/app/src/main/res/values/strings.xml
  demos/pwa/android/variables.gradle
  demos/pwa/ios/App/App/Info.plist
  demos/pwa/src/app/core/authentication/authentication.service.ts
  demos/security-trifecta/android/app/src/main/res/values/strings.xml
  demos/security-trifecta/android/variables.gradle
  demos/security-trifecta/ios/App/App/Info.plist
  demos/security-trifecta/src/environments/environment.prod.ts
  demos/security-trifecta/src/environments/environment.ts
  demos/state-management/android/app/src/main/res/values/strings.xml
  demos/state-management/android/variables.gradle
  demos/state-management/ios/App/App/Info.plist
  demos/state-management/src/environments/environment.prod.ts
  demos/state-management/src/environments/environment.ts
Due: prettier --write, eslint --fix

gradlew cleanup
  auth-connect/current-ui/android/gradlew
  auth-connect/getting-started/android/gradlew
  auth-connect/protect-routes/android/gradlew
  auth-connect/refresh-workflow/android/gradlew
  demos/auth-playground/android/gradlew
  demos/iv-ac/android/gradlew
  demos/pwa/android/gradlew
  demos/security-trifecta/android/gradlew
  demos/sqlcipher-kv-pair/android/gradlew
  demos/state-management/android/gradlew
  demos/tea-taster/android/gradlew
  identity-vault/custom-passcode/android/gradlew
  identity-vault/device-api/android/gradlew
  identity-vault/getting-started/android/gradlew
  identity-vault/startup-strategies/android/gradlew
Due: none

chore(): pnpm@11.23.0
  package.json
  pnpm-workspace.yaml
Due: prettier --write

chore(demo-security-trifecta): rm Podfile
  demos/security-trifecta/ios/App/Podfile
Due: none

chore(): pnpm up -r --latest "@ionic-enterprise/*"
  auth-connect/current-ui/package.json
  auth-connect/getting-started/package.json
  auth-connect/protect-routes/package.json
  auth-connect/refresh-workflow/package.json
  demos/auth-playground/package.json
  demos/iv-ac/package.json
  demos/pwa/package.json
  demos/security-trifecta/package.json
  demos/state-management/package.json
  identity-vault/custom-passcode/package.json
  identity-vault/device-api/package.json
  identity-vault/getting-started/package.json
  identity-vault/startup-strategies/package.json
  pnpm-lock.yaml
Due: prettier --write

chore(): update cap reference in Package.resolved for spm projects
  auth-connect/current-ui/ios/App/App.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  auth-connect/getting-started/ios/App/App.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  auth-connect/protect-routes/ios/App/App.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  auth-connect/refresh-workflow/ios/App/App.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  demos/auth-playground/ios/App/App.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  demos/iv-ac/ios/App/App.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  demos/pwa/ios/App/App.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  demos/security-trifecta/ios/App/App.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  demos/state-management/ios/App/App.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  demos/tea-taster/ios/App/App.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  identity-vault/custom-passcode/ios/App/App.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  identity-vault/device-api/ios/App/App.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  identity-vault/getting-started/ios/App/App.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  identity-vault/startup-strategies/ios/App/App.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
Due: none

chore(demo-sqlcipher-kv-pair): migrate to @capacitor-community/sqlite for mobile - This allows for SPM support.
  demos/security-trifecta/ios/debug.xcconfig
  demos/sqlcipher-kv-pair/README.md
  demos/sqlcipher-kv-pair/android/app/capacitor.build.gradle
  demos/sqlcipher-kv-pair/android/capacitor.settings.gradle
  demos/sqlcipher-kv-pair/capacitor.config.ts
  demos/sqlcipher-kv-pair/ios/.gitignore
  demos/sqlcipher-kv-pair/ios/App/App.xcodeproj/project.pbxproj
  demos/sqlcipher-kv-pair/ios/App/App.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  demos/sqlcipher-kv-pair/ios/App/App.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  demos/sqlcipher-kv-pair/ios/App/App.xcworkspace/contents.xcworkspacedata
  demos/sqlcipher-kv-pair/ios/App/App/AppDelegate.swift
  demos/sqlcipher-kv-pair/ios/App/App/Info.plist
  demos/sqlcipher-kv-pair/ios/App/CapApp-SPM/.gitignore
  demos/sqlcipher-kv-pair/ios/App/CapApp-SPM/Package.swift
  demos/sqlcipher-kv-pair/ios/App/CapApp-SPM/README.md
  demos/sqlcipher-kv-pair/ios/App/CapApp-SPM/Sources/CapApp-SPM/CapApp-SPM.swift
  demos/sqlcipher-kv-pair/ios/App/Podfile
  demos/sqlcipher-kv-pair/ios/debug.xcconfig
  demos/sqlcipher-kv-pair/package.json
  demos/sqlcipher-kv-pair/src/app/core/database.service.ts
  demos/sqlcipher-kv-pair/src/app/core/email-messages.service.ts
  demos/sqlcipher-kv-pair/src/app/core/mobile-kv-store.ts
  demos/sqlcipher-kv-pair/src/app/home/home.page.html
  demos/sqlcipher-kv-pair/src/app/home/home.page.ts
  demos/sqlcipher-kv-pair/src/main.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix
