Repository ionic-enterprise/tutorials-and-demos-ng: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

fix(iv): fix the unlock page test
  identity-vault/custom-passcode/src/app/unlock/unlock.page.spec.ts
Due: prettier --write, eslint --fix

fix(demos): guard each route that needs it
  demos/auth-playground/src/app/tabs/tabs.routes.ts
  demos/iv-ac/src/app/tabs/tabs.routes.ts
  demos/pwa/src/app/tabs/tabs.routes.ts
  demos/state-management/src/app/tabs/tabs.routes.ts
  demos/tea-taster/src/app/tabs/tabs.routes.ts
Due: prettier --write, eslint --fix

chore(): update dependencies
  auth-connect/getting-started/package.json
  auth-connect/protect-routes/package.json
  auth-connect/refresh-workflow/package.json
  demos/auth-playground/package.json
  demos/iv-ac/package.json
  demos/pwa/package.json
  demos/security-trifecta/package.json
  demos/state-management/package.json
  demos/tea-taster/package.json
  identity-vault/custom-passcode/package.json
  identity-vault/device-api/package.json
  identity-vault/getting-started/package.json
  identity-vault/startup-strategies/package.json
  pnpm-lock.yaml
Due: prettier --write

feat(ng): favor control flow syntax over structural directives
  .prettierrc.mjs
  auth-connect/getting-started/src/app/tab1/tab1.page.html
  auth-connect/getting-started/src/app/tab1/tab1.page.ts
  auth-connect/protect-routes/src/app/tab1/tab1.page.html
  auth-connect/protect-routes/src/app/tab1/tab1.page.ts
  auth-connect/refresh-workflow/src/app/tab1/tab1.page.html
  auth-connect/refresh-workflow/src/app/tab1/tab1.page.ts
  demos/auth-playground/src/app/login/login.page.html
  demos/auth-playground/src/app/login/login.page.ts
  demos/auth-playground/src/app/vault-control/device-info/device-info.page.html
  demos/auth-playground/src/app/vault-control/device-info/device-info.page.ts
  demos/iv-ac/src/app/tasting-notes/tasting-note-editor/tasting-note-editor.component.html
  demos/iv-ac/src/app/tasting-notes/tasting-note-editor/tasting-note-editor.component.ts
  demos/iv-ac/src/app/tea-details/tea-details.page.html
  demos/iv-ac/src/app/tea-details/tea-details.page.ts
  demos/pwa/src/app/tasting-notes/tasting-note-editor/tasting-note-editor.component.html
  demos/pwa/src/app/tasting-notes/tasting-note-editor/tasting-note-editor.component.ts
  demos/pwa/src/app/tea-details/tea-details.page.html
  demos/pwa/src/app/tea-details/tea-details.page.ts
  demos/security-trifecta/src/app/login/login-card/login-card.component.html
  demos/security-trifecta/src/app/login/login-card/login-card.component.ts
  demos/security-trifecta/src/app/login/login.page.html
  demos/security-trifecta/src/app/login/login.page.ts
  demos/state-management/src/app/login/login.page.html
  demos/state-management/src/app/login/login.page.ts
  demos/state-management/src/app/tasting-notes/tasting-note-editor/tasting-note-editor.component.html
  demos/state-management/src/app/tasting-notes/tasting-note-editor/tasting-note-editor.component.ts
  demos/state-management/src/app/tea-details/tea-details.page.html
  demos/state-management/src/app/tea-details/tea-details.page.ts
  demos/tea-taster/src/app/tasting-notes/tasting-note-editor/tasting-note-editor.component.html
  demos/tea-taster/src/app/tasting-notes/tasting-note-editor/tasting-note-editor.component.ts
  demos/tea-taster/src/app/tea-details/tea-details.page.html
  demos/tea-taster/src/app/tea-details/tea-details.page.ts
  identity-vault/device-api/src/app/tab2/tab2.page.html
  identity-vault/device-api/src/app/tab2/tab2.page.ts
  package.json
Due: prettier --write, eslint --fix

fix(iv): restore the bullet list in the available biometrics
  auth-connect/current-ui/package.json
  auth-connect/getting-started/package.json
  auth-connect/protect-routes/package.json
  auth-connect/refresh-workflow/package.json
  demos/auth-playground/package.json
  demos/iv-ac/package.json
  demos/pwa/package.json
  demos/security-trifecta/package.json
  demos/state-management/package.json
  demos/tea-taster/package.json
  identity-vault/custom-passcode/package.json
  identity-vault/device-api/package.json
  identity-vault/device-api/src/app/tab2/tab2.page.html
  identity-vault/getting-started/package.json
  identity-vault/startup-strategies/package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

immediately attempt an unlock
  demos/iv-ac/src/app/app.component.ts
  demos/iv-ac/src/app/start/start.page.ts
Due: prettier --write, eslint --fix

fix(ac): prevent refresh logic from setting result NULL when it should have a value
  demos/iv-ac/src/app/core/authentication/authentication.service.spec.ts
  demos/iv-ac/src/app/core/authentication/authentication.service.ts
  demos/pwa/src/app/core/authentication/authentication.service.spec.ts
  demos/pwa/src/app/core/authentication/authentication.service.ts
  demos/state-management/src/app/core/authentication/authentication.service.ts
Due: prettier --write, eslint --fix

chore(): upgrade dependencies
  auth-connect/current-ui/package.json
  auth-connect/getting-started/package.json
  auth-connect/protect-routes/package.json
  auth-connect/refresh-workflow/package.json
  demos/auth-playground/package.json
  demos/iv-ac/package.json
  demos/pwa/package.json
  demos/security-trifecta/package.json
  demos/state-management/package.json
  demos/tea-taster/package.json
  identity-vault/custom-passcode/package.json
  identity-vault/device-api/package.json
  identity-vault/getting-started/package.json
  identity-vault/startup-strategies/package.json
  pnpm-lock.yaml
Due: prettier --write

chore(): update gradle version
  auth-connect/current-ui/android/build.gradle
  auth-connect/current-ui/android/gradle/wrapper/gradle-wrapper.properties
  auth-connect/getting-started/android/build.gradle
  auth-connect/getting-started/android/gradle/wrapper/gradle-wrapper.properties
  auth-connect/protect-routes/android/build.gradle
  auth-connect/protect-routes/android/gradle/wrapper/gradle-wrapper.properties
  auth-connect/refresh-workflow/android/build.gradle
  auth-connect/refresh-workflow/android/gradle/wrapper/gradle-wrapper.properties
  demos/auth-playground/android/build.gradle
  demos/auth-playground/android/gradle/wrapper/gradle-wrapper.properties
  demos/pwa/android/build.gradle
  demos/pwa/android/gradle/wrapper/gradle-wrapper.properties
  demos/security-trifecta/android/build.gradle
  demos/security-trifecta/android/gradle/wrapper/gradle-wrapper.properties
  demos/state-management/android/build.gradle
  demos/state-management/android/gradle/wrapper/gradle-wrapper.properties
  demos/tea-taster/android/build.gradle
  demos/tea-taster/android/gradle/wrapper/gradle-wrapper.properties
  identity-vault/custom-passcode/android/build.gradle
  identity-vault/custom-passcode/android/gradle/wrapper/gradle-wrapper.properties
  identity-vault/device-api/android/build.gradle
  identity-vault/device-api/android/gradle/wrapper/gradle-wrapper.properties
  identity-vault/getting-started/android/build.gradle
  identity-vault/getting-started/android/gradle/wrapper/gradle-wrapper.properties
  identity-vault/startup-strategies/android/build.gradle
  identity-vault/startup-strategies/android/gradle/wrapper/gradle-wrapper.properties
Due: none

update base deps
  package.json
  pnpm-lock.yaml
Due: prettier --write

update dependencies
  .npmrc
  auth-connect/current-ui/package.json
  auth-connect/getting-started/package.json
  auth-connect/protect-routes/package.json
  auth-connect/refresh-workflow/package.json
  demos/auth-playground/package.json
  demos/iv-ac/package.json
  demos/pwa/package.json
  demos/security-trifecta/package.json
  demos/state-management/package.json
  demos/tea-taster/package.json
  identity-vault/custom-passcode/package.json
  identity-vault/device-api/package.json
  identity-vault/getting-started/package.json
  identity-vault/startup-strategies/package.json
  pnpm-lock.yaml
Due: prettier --write

update to Angular 19
  auth-connect/current-ui/package.json
  auth-connect/getting-started/package.json
  auth-connect/protect-routes/package.json
  auth-connect/refresh-workflow/package.json
  demos/auth-playground/package.json
  demos/iv-ac/android/build.gradle
  demos/iv-ac/android/gradle/wrapper/gradle-wrapper.properties
  demos/iv-ac/package.json
  demos/pwa/package.json
  demos/security-trifecta/package.json
  demos/state-management/package.json
  demos/tea-taster/package.json
  identity-vault/custom-passcode/package.json
  identity-vault/device-api/package.json
  identity-vault/getting-started/package.json
  identity-vault/startup-strategies/package.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

WIP - more lint cleanup
  auth-connect/protect-routes/src/app/core/authentication.service.spec.ts
  auth-connect/protect-routes/src/app/core/guards/auth.guard.ts
  auth-connect/protect-routes/src/app/core/interceptors/auth.interceptor.ts
Due: prettier --write, eslint --fix

WIP - and yet more
  auth-connect/refresh-workflow/src/app/core/authentication.service.ts
Due: prettier --write, eslint --fix

WIP - add lint fixes
  identity-vault/custom-passcode/src/app/app.component.ts
  identity-vault/custom-passcode/src/app/core/session-vault.service.mock.ts
  identity-vault/custom-passcode/src/app/core/session-vault.service.ts
  identity-vault/custom-passcode/src/app/pin-dialog/pin-dialog.component.ts
  identity-vault/custom-passcode/src/app/start/start.page.ts
  identity-vault/custom-passcode/src/app/unlock/unlock.page.ts
  identity-vault/device-api/src/app/app.component.ts
  identity-vault/device-api/src/app/core/session-vault.service.mock.ts
  identity-vault/device-api/src/app/core/session-vault.service.ts
  identity-vault/device-api/src/app/start/start.page.ts
  identity-vault/device-api/src/app/unlock/unlock.page.ts
  identity-vault/getting-started/src/app/core/session-vault.service.mock.ts
  identity-vault/getting-started/src/app/core/session-vault.service.ts
  identity-vault/startup-strategies/src/app/app.component.ts
  identity-vault/startup-strategies/src/app/core/session-vault.service.mock.ts
  identity-vault/startup-strategies/src/app/core/session-vault.service.ts
  identity-vault/startup-strategies/src/app/start/start.page.ts
  identity-vault/startup-strategies/src/app/unlock/unlock.page.ts
Due: prettier --write, eslint --fix

WIP - IV all linting, just need demo
  identity-vault/device-api/src/app/core/session-vault.service.ts
  identity-vault/device-api/src/app/tab1/tab1.page.ts
  identity-vault/device-api/src/app/tab2/tab2.page.ts
Due: prettier --write, eslint --fix

WIP - playground
  demos/auth-playground/src/app/about/about.page.ts
  demos/auth-playground/src/app/core/authentication/basic-authentication/basic-authentication.service.spec.ts
  demos/auth-playground/src/app/core/authentication/basic-authentication/basic-authentication.service.ts
  demos/auth-playground/src/app/core/authentication/oidc-authentication/oidc-authentication.service.spec.ts
  demos/auth-playground/src/app/core/authentication/oidc-authentication/oidc-authentication.service.ts
  demos/auth-playground/src/app/core/http-interceptors/auth-interceptor.service.ts
  demos/auth-playground/src/app/core/http-interceptors/unauth-interceptor.service.ts
  demos/auth-playground/src/app/core/session-vault/session-vault.service.mock.ts
  demos/auth-playground/src/app/core/session-vault/session-vault.service.ts
  demos/auth-playground/src/app/core/tea/tea.service.spec.ts
  demos/auth-playground/src/app/core/tea/tea.service.ts
  demos/auth-playground/src/app/login/login.page.spec.ts
  demos/auth-playground/src/app/login/login.page.ts
  demos/auth-playground/src/app/pin-dialog/pin-dialog.component.ts
  demos/auth-playground/src/app/tea-list/tea-list.page.spec.ts
  demos/auth-playground/src/app/tea-list/tea-list.page.ts
  demos/auth-playground/src/app/unlock/unlock.page.spec.ts
  demos/auth-playground/src/app/unlock/unlock.page.ts
  demos/auth-playground/src/app/vault-control/device-info/device-info.page.spec.ts
  demos/auth-playground/src/app/vault-control/device-info/device-info.page.ts
  demos/auth-playground/src/app/vault-control/value-list/value-list.page.spec.ts
  demos/auth-playground/src/app/vault-control/value-list/value-list.page.ts
Due: prettier --write, eslint --fix

WIP - test cleanup
  auth-connect/refresh-workflow/src/app/core/authentication.service.spec.ts
  auth-connect/refresh-workflow/src/app/core/authentication.service.ts
  identity-vault/device-api/src/app/login/login.page.spec.ts
  identity-vault/device-api/src/app/unlock/unlock.page.spec.ts
  identity-vault/startup-strategies/src/app/unlock/unlock.page.spec.ts
Due: prettier --write, eslint --fix

WIP - pwa automatic
  demos/pwa/src/app/core/authentication/authentication.service.ts
  demos/pwa/src/app/core/tasting-notes/tasting-notes.service.ts
  demos/pwa/src/app/core/tea/tea.service.spec.ts
  demos/pwa/src/app/core/tea/tea.service.ts
  demos/pwa/src/app/login/login.page.ts
  demos/pwa/src/app/pin-dialog/pin-dialog.component.ts
  demos/pwa/src/app/shared/rating/rating.component.ts
  demos/pwa/src/app/tasting-notes/tasting-note-editor/tasting-note-editor.component.ts
  demos/pwa/src/app/tasting-notes/tasting-notes.page.spec.ts
  demos/pwa/src/app/tasting-notes/tasting-notes.page.ts
  demos/pwa/src/app/tea-details/tea-details.page.ts
  demos/pwa/src/app/tea/tea.page.spec.ts
  demos/pwa/src/app/tea/tea.page.ts
Due: prettier --write, eslint --fix

WIP - PWA finished with lint updates
  auth-connect/protect-routes/src/app/core/interceptors/auth.interceptor.ts
  demos/iv-ac/src/app/core/authentication/authentication.service.spec.ts
  demos/iv-ac/src/app/core/interceptors/auth.interceptor.ts
  demos/iv-ac/src/app/unlock/unlock.page.spec.ts
  demos/iv-ac/src/app/unlock/unlock.page.ts
  demos/pwa/src/app/auth-action-complete/auth-action-complete.page.ts
  demos/pwa/src/app/core/application/application.service.spec.ts
  demos/pwa/src/app/core/authentication/authentication.service.spec.ts
  demos/pwa/src/app/core/authentication/authentication.service.ts
  demos/pwa/src/app/core/guards/auth.guard.ts
  demos/pwa/src/app/core/interceptors/auth.interceptor.ts
  demos/pwa/src/app/core/session-vault/session-vault.service.mock.ts
  demos/pwa/src/app/core/session-vault/session-vault.service.spec.ts
  demos/pwa/src/app/core/session-vault/session-vault.service.ts
  demos/pwa/src/app/core/tasting-notes/tasting-notes.service.ts
  demos/pwa/src/app/core/tea/tea.service.spec.ts
  demos/pwa/src/app/login/login.page.spec.ts
  demos/pwa/src/app/login/login.page.ts
  demos/pwa/src/app/preferences/preferences.page.ts
  demos/pwa/src/app/shared/rating/rating.component.ts
  demos/pwa/src/app/tasting-notes/tasting-note-editor/tasting-note-editor.component.spec.ts
  demos/pwa/src/app/tasting-notes/tasting-notes.page.spec.ts
  demos/pwa/src/app/tea-details/tea-details.page.spec.ts
  demos/pwa/src/app/unlock/unlock.page.spec.ts
  demos/pwa/src/app/unlock/unlock.page.ts
  demos/tea-taster/src/app/core/interceptors/auth.interceptor.ts
Due: prettier --write, eslint --fix

WIP - iv-ac auto-lint fixes
  demos/iv-ac/src/app/core/authentication/authentication.service.ts
  demos/iv-ac/src/app/core/tasting-notes/tasting-notes.service.ts
  demos/iv-ac/src/app/core/tea/tea.service.spec.ts
  demos/iv-ac/src/app/core/tea/tea.service.ts
  demos/iv-ac/src/app/login/login.page.ts
  demos/iv-ac/src/app/pin-dialog/pin-dialog.component.ts
  demos/iv-ac/src/app/shared/rating/rating.component.ts
  demos/iv-ac/src/app/tasting-notes/tasting-note-editor/tasting-note-editor.component.ts
  demos/iv-ac/src/app/tasting-notes/tasting-notes.page.spec.ts
  demos/iv-ac/src/app/tasting-notes/tasting-notes.page.ts
  demos/iv-ac/src/app/tea-details/tea-details.page.ts
  demos/iv-ac/src/app/tea/tea.page.spec.ts
  demos/iv-ac/src/app/tea/tea.page.ts
Due: prettier --write, eslint --fix

update some of the lint fix strategies
  demos/auth-playground/src/app/core/authentication/oidc-authentication/oidc-authentication.service.ts
  demos/auth-playground/src/app/core/session-vault/session-vault.service.ts
  demos/auth-playground/src/app/login/login.page.ts
  demos/auth-playground/src/app/vault-control/device-info/device-info.page.ts
  demos/iv-ac/src/app/core/session-vault/session-vault.service.ts
  demos/iv-ac/src/app/login/login.page.ts
  demos/pwa/src/app/core/session-vault/session-vault.service.ts
  demos/pwa/src/app/login/login.page.ts
  demos/security-trifecta/src/app/core/authentication/authentication.service.ts
  demos/security-trifecta/src/app/core/session-vault/session-vault.service.ts
  demos/security-trifecta/src/app/login/login-card/login-card.component.ts
  demos/security-trifecta/src/app/login/unlock-card/unlock-card.component.ts
  demos/state-management/src/app/core/session-vault/session-vault.service.ts
  identity-vault/custom-passcode/src/app/app.component.ts
  identity-vault/custom-passcode/src/app/core/session-vault.service.ts
  identity-vault/custom-passcode/src/app/start/start.page.ts
  identity-vault/device-api/src/app/app.component.ts
  identity-vault/device-api/src/app/core/session-vault.service.ts
  identity-vault/device-api/src/app/start/start.page.ts
  identity-vault/device-api/src/app/tab2/tab2.page.ts
  identity-vault/getting-started/src/app/core/session-vault.service.ts
  identity-vault/startup-strategies/src/app/app.component.ts
  identity-vault/startup-strategies/src/app/core/session-vault.service.ts
  identity-vault/startup-strategies/src/app/start/start.page.ts
Due: prettier --write, eslint --fix

improve the compare typings
  demos/security-trifecta/src/app/core/compare/compare.service.ts
Due: prettier --write, eslint --fix

update dependencies
  auth-connect/current-ui/package.json
  auth-connect/getting-started/package.json
  auth-connect/protect-routes/package.json
  auth-connect/refresh-workflow/package.json
  demos/auth-playground/package.json
  demos/iv-ac/package.json
  demos/pwa/package.json
  demos/security-trifecta/package.json
  demos/state-management/package.json
  demos/tea-taster/package.json
  identity-vault/custom-passcode/package.json
  identity-vault/device-api/package.json
  identity-vault/getting-started/package.json
  identity-vault/startup-strategies/package.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

unlock in place upon lock
  demos/iv-ac/src/app/app.component.ts
  demos/iv-ac/src/app/start/start.page.ts
  demos/pwa/src/app/app.component.ts
  demos/pwa/src/app/start/start.page.ts
Due: prettier --write, eslint --fix

update non-cap deps
  auth-connect/current-ui/package.json
  auth-connect/getting-started/package.json
  auth-connect/protect-routes/package.json
  auth-connect/refresh-workflow/package.json
  demos/auth-playground/package.json
  demos/iv-ac/package.json
  demos/pwa/package.json
  demos/security-trifecta/package.json
  demos/state-management/package.json
  demos/tea-taster/package.json
  identity-vault/custom-passcode/package.json
  identity-vault/device-api/package.json
  identity-vault/getting-started/package.json
  identity-vault/startup-strategies/package.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore(): update all but Identity Vault
  auth-connect/current-ui/package.json
  auth-connect/getting-started/package.json
  auth-connect/protect-routes/package.json
  auth-connect/refresh-workflow/package.json
  demos/auth-playground/package.json
  demos/iv-ac/package.json
  demos/pwa/package.json
  demos/security-trifecta/package.json
  demos/state-management/package.json
  demos/tea-taster/package.json
  identity-vault/custom-passcode/package.json
  identity-vault/device-api/package.json
  identity-vault/getting-started/package.json
  identity-vault/startup-strategies/package.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore(): update the install system
  .husky/pre-push
  .npmrc
  auth-connect/current-ui/android/capacitor.settings.gradle
  auth-connect/current-ui/ios/App/Podfile
  auth-connect/getting-started/android/capacitor.settings.gradle
  auth-connect/getting-started/ios/App/Podfile
  auth-connect/protect-routes/android/capacitor.settings.gradle
  auth-connect/protect-routes/ios/App/Podfile
  auth-connect/refresh-workflow/android/capacitor.settings.gradle
  auth-connect/refresh-workflow/ios/App/Podfile
  demos/auth-playground/android/app/capacitor.build.gradle
  demos/auth-playground/android/capacitor.settings.gradle
  demos/auth-playground/ios/App/Podfile
  demos/iv-ac/android/app/capacitor.build.gradle
  demos/iv-ac/android/capacitor.settings.gradle
  demos/iv-ac/ios/App/Podfile
  demos/pwa/android/app/capacitor.build.gradle
  demos/pwa/android/capacitor.settings.gradle
  demos/pwa/ios/App/Podfile
  demos/security-trifecta/android/app/capacitor.build.gradle
  demos/security-trifecta/android/capacitor.settings.gradle
  demos/security-trifecta/ios/App/Podfile
  demos/state-management/android/app/capacitor.build.gradle
  demos/state-management/android/capacitor.settings.gradle
  demos/state-management/ios/App/Podfile
  demos/tea-taster/android/capacitor.settings.gradle
  demos/tea-taster/ios/App/Podfile
  identity-vault/custom-passcode/android/app/capacitor.build.gradle
  identity-vault/custom-passcode/android/capacitor.settings.gradle
  identity-vault/custom-passcode/ios/App/Podfile
  identity-vault/device-api/android/app/capacitor.build.gradle
  identity-vault/device-api/android/capacitor.settings.gradle
  identity-vault/device-api/ios/App/Podfile
  identity-vault/getting-started/android/app/capacitor.build.gradle
  identity-vault/getting-started/android/capacitor.settings.gradle
  identity-vault/getting-started/ios/App/Podfile
  identity-vault/startup-strategies/android/app/capacitor.build.gradle
  identity-vault/startup-strategies/android/capacitor.settings.gradle
  identity-vault/startup-strategies/ios/App/Podfile
Due: none

fix(): add note about tests
  .npmrc
  README.md
Due: prettier --write

fix(): do not overlay the web view with the status bar
  auth-connect/current-ui/capacitor.config.ts
  auth-connect/getting-started/capacitor.config.ts
  auth-connect/protect-routes/capacitor.config.ts
  auth-connect/refresh-workflow/capacitor.config.ts
  demos/auth-playground/capacitor.config.ts
  demos/iv-ac/capacitor.config.ts
  demos/pwa/capacitor.config.ts
  demos/security-trifecta/capacitor.config.ts
  demos/state-management/capacitor.config.ts
  demos/tea-taster/capacitor.config.ts
  identity-vault/custom-passcode/capacitor.config.ts
  identity-vault/device-api/capacitor.config.ts
  identity-vault/getting-started/capacitor.config.ts
  identity-vault/startup-strategies/capacitor.config.ts
Due: prettier --write, eslint --fix

chore(): update all dependencies
  auth-connect/current-ui/package.json
  auth-connect/getting-started/package.json
  auth-connect/protect-routes/package.json
  auth-connect/refresh-workflow/package.json
  demos/auth-playground/package.json
  demos/iv-ac/package.json
  demos/pwa/package.json
  demos/security-trifecta/package.json
  demos/state-management/package.json
  demos/tea-taster/package.json
  identity-vault/custom-passcode/package.json
  identity-vault/device-api/package.json
  identity-vault/getting-started/package.json
  identity-vault/startup-strategies/package.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore(): update the lint utils
  auth-connect/current-ui/package.json
  auth-connect/getting-started/package.json
  auth-connect/protect-routes/package.json
  auth-connect/refresh-workflow/package.json
  demos/auth-playground/package.json
  demos/iv-ac/package.json
  demos/pwa/package.json
  demos/security-trifecta/package.json
  demos/sqlcipher-kv-pair/package.json
  demos/state-management/package.json
  demos/tea-taster/package.json
  identity-vault/custom-passcode/package.json
  identity-vault/device-api/package.json
  identity-vault/getting-started/package.json
  identity-vault/startup-strategies/package.json
  pnpm-lock.yaml
Due: prettier --write

Path conditions:
  prettier --write: (any of: *.{css,html,js,jsx,scss,ts,tsx}) or (any of: *.{md,json})
  eslint --fix: any of: *.{css,html,js,jsx,scss,ts,tsx}
