Repository ionic-enterprise/tutorials-and-demos-ng: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.{css,html,js,jsx,scss,ts,tsx}": ["prettier --write", "eslint --fix"],
  "*.{md,json}": ["prettier --write"]
}

fix(SQLCipher): limit clear to the collection
  demos/sqlcipher-kv-pair/src/app/core/mobile-kv-store.ts
Due: prettier --write, eslint --fix

doc(SQLCipher): remove initialize from the README
  auth-connect/current-ui/package.json
  auth-connect/getting-started/package.json
  auth-connect/protect-routes/package.json
  auth-connect/refresh-workflow/package.json
  demos/auth-playground/package.json
  demos/iv-ac/package.json
  demos/pwa/package.json
  demos/security-trifecta/package.json
  demos/sqlcipher-kv-pair/README.md
  demos/sqlcipher-kv-pair/package.json
  demos/state-management/package.json
  demos/tea-taster/package.json
  identity-vault/custom-passcode/package.json
  identity-vault/device-api/package.json
  identity-vault/getting-started/package.json
  identity-vault/startup-strategies/package.json
  pnpm-lock.yaml
Due: prettier --write

chore(): update dependencies
  auth-connect/current-ui/package.json
  auth-connect/getting-started/package.json
  auth-connect/protect-routes/package.json
  auth-connect/refresh-workflow/package.json
  demos/auth-playground/package.json
  demos/iv-ac/package.json
  demos/pwa/package.json
  demos/security-trifecta/package.json
  demos/sqlcipher-kv-pair/package.json
  demos/state-management/package.json
  demos/tea-taster/package.json
  identity-vault/custom-passcode/package.json
  identity-vault/device-api/package.json
  identity-vault/getting-started/package.json
  identity-vault/startup-strategies/package.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore(): updated workspace for pnpm approve-builds
  pnpm-workspace.yaml
Due: none

chore(): add packageManager:pnpm@10.5.2
  package.json
Due: prettier --write

chore(): update to @capacitor/privacy-screen@^1.1.0
  demos/auth-playground/__mocks__/@capacitor/privacy-screen.ts
  demos/auth-playground/package.json
  demos/iv-ac/__mocks__/@capacitor/privacy-screen.ts
  demos/iv-ac/package.json
  demos/iv-ac/src/app/core/session-vault/session-vault.service.ts
  demos/pwa/__mocks__/@capacitor/privacy-screen.ts
  demos/pwa/package.json
  demos/pwa/src/app/core/session-vault/session-vault.service.ts
  demos/security-trifecta/__mocks__/@capacitor/privacy-screen.ts
  demos/security-trifecta/package.json
  demos/state-management/package.json
  identity-vault/device-api/package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

chore(): privacy-screen podfile updates
  demos/auth-playground/ios/App/Podfile
  demos/iv-ac/ios/App/Podfile
  demos/pwa/ios/App/Podfile
  demos/security-trifecta/ios/App/Podfile
  demos/state-management/ios/App/Podfile
  identity-vault/device-api/ios/App/Podfile
Due: none

chore(): @ionic-enterprise/auth@7.1.1
  auth-connect/current-ui/android/capacitor.settings.gradle
  auth-connect/current-ui/ios/App/Podfile
  auth-connect/current-ui/package.json
  auth-connect/getting-started/android/capacitor.settings.gradle
  auth-connect/getting-started/ios/App/Podfile
  auth-connect/getting-started/package.json
  auth-connect/protect-routes/android/capacitor.settings.gradle
  auth-connect/protect-routes/ios/App/Podfile
  auth-connect/protect-routes/package.json
  auth-connect/refresh-workflow/android/capacitor.settings.gradle
  auth-connect/refresh-workflow/ios/App/Podfile
  auth-connect/refresh-workflow/package.json
  demos/auth-playground/android/capacitor.settings.gradle
  demos/auth-playground/ios/App/Podfile
  demos/auth-playground/package.json
  demos/iv-ac/android/capacitor.settings.gradle
  demos/iv-ac/ios/App/Podfile
  demos/iv-ac/package.json
  demos/pwa/android/capacitor.settings.gradle
  demos/pwa/ios/App/Podfile
  demos/pwa/package.json
  demos/security-trifecta/android/capacitor.settings.gradle
  demos/security-trifecta/ios/App/Podfile
  demos/security-trifecta/package.json
  demos/state-management/android/capacitor.settings.gradle
  demos/state-management/ios/App/Podfile
  demos/state-management/package.json
  pnpm-lock.yaml
Due: prettier --write

chore(): pnpm@10.6.4
  package.json
Due: prettier --write

chore(): update to IV 6.0.2
  demos/auth-playground/android/app/capacitor.build.gradle
  demos/auth-playground/package.json
  demos/iv-ac/android/app/capacitor.build.gradle
  demos/iv-ac/package.json
  demos/pwa/android/app/capacitor.build.gradle
  demos/pwa/package.json
  demos/security-trifecta/android/app/capacitor.build.gradle
  demos/security-trifecta/package.json
  demos/state-management/android/app/capacitor.build.gradle
  demos/state-management/package.json
  identity-vault/custom-passcode/android/app/capacitor.build.gradle
  identity-vault/custom-passcode/package.json
  identity-vault/device-api/android/app/capacitor.build.gradle
  identity-vault/device-api/package.json
  identity-vault/getting-started/android/app/capacitor.build.gradle
  identity-vault/getting-started/package.json
  identity-vault/startup-strategies/android/app/capacitor.build.gradle
  identity-vault/startup-strategies/package.json
  pnpm-lock.yaml
Due: prettier --write

update dependencies
  auth-connect/current-ui/package.json
  auth-connect/getting-started/package.json
  auth-connect/protect-routes/package.json
  auth-connect/refresh-workflow/package.json
  demos/auth-playground/android/app/capacitor.build.gradle
  demos/auth-playground/package.json
  demos/iv-ac/android/app/capacitor.build.gradle
  demos/iv-ac/package.json
  demos/pwa/android/app/capacitor.build.gradle
  demos/pwa/package.json
  demos/security-trifecta/android/app/capacitor.build.gradle
  demos/security-trifecta/package.json
  demos/sqlcipher-kv-pair/package.json
  demos/state-management/android/app/capacitor.build.gradle
  demos/state-management/package.json
  demos/tea-taster/package.json
  identity-vault/custom-passcode/android/app/capacitor.build.gradle
  identity-vault/custom-passcode/package.json
  identity-vault/device-api/android/app/capacitor.build.gradle
  identity-vault/device-api/package.json
  identity-vault/getting-started/android/app/capacitor.build.gradle
  identity-vault/getting-started/package.json
  identity-vault/startup-strategies/android/app/capacitor.build.gradle
  identity-vault/startup-strategies/package.json
  pnpm-lock.yaml
Due: prettier --write

update the gradle version
  demos/security-trifecta/android/app/build.gradle
  demos/security-trifecta/android/build.gradle
Due: none

chore(): update to secure storage 3.0.5
  auth-connect/current-ui/package.json
  auth-connect/getting-started/package.json
  auth-connect/protect-routes/package.json
  auth-connect/refresh-workflow/package.json
  demos/auth-playground/package.json
  demos/iv-ac/package.json
  demos/pwa/package.json
  demos/security-trifecta/package.json
  demos/sqlcipher-kv-pair/package.json
  demos/state-management/package.json
  demos/tea-taster/package.json
  identity-vault/custom-passcode/package.json
  identity-vault/device-api/package.json
  identity-vault/getting-started/package.json
  identity-vault/startup-strategies/package.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore(): update to secure storage 3.0.6
  demos/security-trifecta/android/app/capacitor.build.gradle
  demos/security-trifecta/package.json
  pnpm-lock.yaml
Due: prettier --write

chore(): update dependencies
  auth-connect/current-ui/package.json
  auth-connect/getting-started/package.json
  auth-connect/protect-routes/package.json
  auth-connect/refresh-workflow/package.json
  demos/auth-playground/package.json
  demos/iv-ac/package.json
  demos/pwa/package.json
  demos/security-trifecta/package.json
  demos/sqlcipher-kv-pair/package.json
  demos/state-management/package.json
  demos/tea-taster/package.json
  identity-vault/custom-passcode/package.json
  identity-vault/device-api/package.json
  identity-vault/getting-started/package.json
  identity-vault/startup-strategies/package.json
  pnpm-lock.yaml
Due: prettier --write

fix(android): update the splash screen background
  demos/auth-playground/android/app/src/main/res/values/ic_launcher_background.xml
  demos/auth-playground/android/app/src/main/res/values/styles.xml
  demos/auth-playground/android/build.gradle
  demos/iv-ac/android/app/src/main/res/values/ic_launcher_background.xml
  demos/iv-ac/android/app/src/main/res/values/styles.xml
  demos/iv-ac/android/build.gradle
  demos/pwa/android/app/src/main/res/values/ic_launcher_background.xml
  demos/pwa/android/app/src/main/res/values/styles.xml
  demos/pwa/android/build.gradle
  demos/security-trifecta/android/app/src/main/res/values/ic_launcher_background.xml
  demos/security-trifecta/android/app/src/main/res/values/styles.xml
  demos/state-management/android/app/src/main/res/values/ic_launcher_background.xml
  demos/state-management/android/app/src/main/res/values/styles.xml
  demos/state-management/android/build.gradle
  demos/tea-taster/android/app/src/main/res/values/ic_launcher_background.xml
  demos/tea-taster/android/app/src/main/res/values/styles.xml
  demos/tea-taster/android/build.gradle
Due: none

chore(): handle edge-to-edge settings
  auth-connect/current-ui/capacitor.config.ts
  auth-connect/current-ui/package.json
  auth-connect/getting-started/capacitor.config.ts
  auth-connect/getting-started/package.json
  auth-connect/protect-routes/capacitor.config.ts
  auth-connect/protect-routes/package.json
  auth-connect/refresh-workflow/capacitor.config.ts
  auth-connect/refresh-workflow/package.json
  demos/auth-playground/capacitor.config.ts
  demos/auth-playground/package.json
  demos/iv-ac/capacitor.config.ts
  demos/iv-ac/package.json
  demos/pwa/capacitor.config.ts
  demos/pwa/package.json
  demos/security-trifecta/capacitor.config.ts
  demos/security-trifecta/package.json
  demos/sqlcipher-kv-pair/capacitor.config.ts
  demos/sqlcipher-kv-pair/package.json
  demos/state-management/capacitor.config.ts
  demos/state-management/package.json
  demos/tea-taster/capacitor.config.ts
  demos/tea-taster/package.json
  identity-vault/custom-passcode/capacitor.config.ts
  identity-vault/custom-passcode/package.json
  identity-vault/device-api/capacitor.config.ts
  identity-vault/device-api/package.json
  identity-vault/getting-started/capacitor.config.ts
  identity-vault/getting-started/package.json
  identity-vault/startup-strategies/capacitor.config.ts
  identity-vault/startup-strategies/package.json
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

chore(): update basic dependencies
  auth-connect/current-ui/package.json
  auth-connect/getting-started/package.json
  auth-connect/protect-routes/package.json
  auth-connect/refresh-workflow/package.json
  demos/auth-playground/package.json
  demos/iv-ac/package.json
  demos/pwa/package.json
  demos/security-trifecta/package.json
  demos/sqlcipher-kv-pair/package.json
  demos/state-management/package.json
  demos/tea-taster/package.json
  identity-vault/custom-passcode/package.json
  identity-vault/device-api/package.json
  identity-vault/getting-started/package.json
  identity-vault/startup-strategies/package.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore(): remove deprecated item from tests
  auth-connect/current-ui/karma.conf.js
  auth-connect/getting-started/karma.conf.js
  auth-connect/protect-routes/karma.conf.js
  auth-connect/refresh-workflow/karma.conf.js
  demos/auth-playground/karma.conf.js
  demos/auth-playground/package.json
  demos/iv-ac/karma.conf.js
  demos/iv-ac/package.json
  demos/pwa/karma.conf.js
  demos/pwa/package.json
  demos/security-trifecta/karma.conf.js
  demos/security-trifecta/package.json
  demos/sqlcipher-kv-pair/karma.conf.js
  demos/sqlcipher-kv-pair/package.json
  demos/state-management/karma.conf.js
  demos/state-management/package.json
  demos/tea-taster/karma.conf.js
  demos/tea-taster/package.json
  identity-vault/custom-passcode/karma.conf.js
  identity-vault/device-api/karma.conf.js
  identity-vault/getting-started/karma.conf.js
  identity-vault/startup-strategies/karma.conf.js
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

experiment with having a custom URL setup
  demos/auth-playground/android/build.gradle
  demos/iv-ac/android/build.gradle
  demos/security-trifecta/android/app/src/main/AndroidManifest.xml
  demos/security-trifecta/android/build.gradle
Due: none

update dependencies and ensure Android stacks are valid
  auth-connect/current-ui/android/build.gradle
  auth-connect/current-ui/android/gradle/wrapper/gradle-wrapper.properties
  auth-connect/current-ui/package.json
  auth-connect/getting-started/android/build.gradle
  auth-connect/getting-started/android/gradle/wrapper/gradle-wrapper.properties
  auth-connect/getting-started/package.json
  auth-connect/protect-routes/android/build.gradle
  auth-connect/protect-routes/package.json
  auth-connect/refresh-workflow/android/build.gradle
  auth-connect/refresh-workflow/package.json
  demos/auth-playground/package.json
  demos/iv-ac/package.json
  demos/pwa/android/build.gradle
  demos/pwa/package.json
  demos/security-trifecta/package.json
  demos/sqlcipher-kv-pair/android/build.gradle
  demos/sqlcipher-kv-pair/package.json
  demos/state-management/android/build.gradle
  demos/state-management/package.json
  demos/tea-taster/android/build.gradle
  demos/tea-taster/package.json
  identity-vault/custom-passcode/android/build.gradle
  identity-vault/custom-passcode/package.json
  identity-vault/device-api/android/build.gradle
  identity-vault/device-api/package.json
  identity-vault/getting-started/android/build.gradle
  identity-vault/getting-started/package.json
  identity-vault/startup-strategies/android/build.gradle
  identity-vault/startup-strategies/package.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

remove unused file
  demos/sqlcipher-kv-pair/package-lock.json
Due: prettier --write

update to lastest of most things (except TS)
  auth-connect/current-ui/package.json
  auth-connect/getting-started/package.json
  auth-connect/protect-routes/package.json
  auth-connect/refresh-workflow/package.json
  demos/auth-playground/package.json
  demos/iv-ac/package.json
  demos/pwa/package.json
  demos/security-trifecta/package.json
  demos/sqlcipher-kv-pair/package.json
  demos/state-management/package.json
  demos/tea-taster/package.json
  identity-vault/custom-passcode/package.json
  identity-vault/device-api/package.json
  identity-vault/getting-started/package.json
  identity-vault/startup-strategies/package.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix the tabs on older demos
  demos/auth-playground/src/app/tabs/tabs.page.html
  demos/iv-ac/src/app/tabs/tabs.page.html
  demos/pwa/src/app/tabs/tabs.page.html
  demos/state-management/src/app/tabs/tabs.page.html
  demos/tea-taster/src/app/tabs/tabs.page.html
Due: prettier --write, eslint --fix

tweak the unlock flow for cases where bio changes
  demos/iv-ac/src/app/app.component.spec.ts
  demos/iv-ac/src/app/app.component.ts
  demos/iv-ac/src/app/start/start.page.spec.ts
  demos/iv-ac/src/app/start/start.page.ts
Due: prettier --write, eslint --fix

update dependencies
  auth-connect/current-ui/package.json
  auth-connect/getting-started/package.json
  auth-connect/protect-routes/package.json
  auth-connect/refresh-workflow/package.json
  demos/auth-playground/package.json
  demos/iv-ac/package.json
  demos/pwa/package.json
  demos/security-trifecta/package.json
  demos/sqlcipher-kv-pair/package.json
  demos/state-management/package.json
  demos/tea-taster/package.json
  identity-vault/custom-passcode/package.json
  identity-vault/device-api/package.json
  identity-vault/getting-started/package.json
  identity-vault/startup-strategies/package.json
  pnpm-lock.yaml
Due: prettier --write

update dependencies prior to a11y testing
  auth-connect/current-ui/package.json
  auth-connect/getting-started/package.json
  auth-connect/protect-routes/package.json
  auth-connect/refresh-workflow/package.json
  demos/auth-playground/android/capacitor.settings.gradle
  demos/auth-playground/ios/App/Podfile
  demos/auth-playground/package.json
  demos/iv-ac/android/capacitor.settings.gradle
  demos/iv-ac/ios/App/Podfile
  demos/iv-ac/package.json
  demos/pwa/android/capacitor.settings.gradle
  demos/pwa/ios/App/Podfile
  demos/pwa/package.json
  demos/security-trifecta/android/capacitor.settings.gradle
  demos/security-trifecta/ios/App/Podfile
  demos/security-trifecta/package.json
  demos/sqlcipher-kv-pair/package.json
  demos/state-management/android/capacitor.settings.gradle
  demos/state-management/ios/App/Podfile
  demos/state-management/package.json
  demos/tea-taster/package.json
  identity-vault/custom-passcode/package.json
  identity-vault/device-api/android/capacitor.settings.gradle
  identity-vault/device-api/ios/App/Podfile
  identity-vault/device-api/package.json
  identity-vault/getting-started/package.json
  identity-vault/startup-strategies/package.json
  pnpm-lock.yaml
Due: prettier --write

bug-fix Angular release
  auth-connect/current-ui/package.json
  auth-connect/getting-started/package.json
  auth-connect/protect-routes/package.json
  auth-connect/refresh-workflow/package.json
  demos/auth-playground/package.json
  demos/iv-ac/package.json
  demos/pwa/package.json
  demos/security-trifecta/package.json
  demos/sqlcipher-kv-pair/package.json
  demos/state-management/package.json
  demos/tea-taster/package.json
  identity-vault/custom-passcode/package.json
  identity-vault/device-api/package.json
  identity-vault/getting-started/package.json
  identity-vault/startup-strategies/package.json
  pnpm-lock.yaml
Due: prettier --write
