Repository ionic-enterprise/tutorials-and-demos-ng: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

chore(): move the hook
  .husky/pre-commit
Due: none

feat(getting-started): fill out the tests
  auth-connect/getting-started/__mocks__/@capacitor/preferences.ts
  auth-connect/getting-started/android/capacitor.settings.gradle
  auth-connect/getting-started/ios/App/Podfile
  auth-connect/getting-started/karma.conf.js
  auth-connect/getting-started/package.json
  auth-connect/getting-started/src/app/core/authentication.service.mock.ts
  auth-connect/getting-started/src/app/core/authentication.service.spec.ts
  auth-connect/getting-started/src/app/core/session.service.mock.ts
  auth-connect/getting-started/src/app/core/session.service.spec.ts
  auth-connect/getting-started/src/app/tab1/tab1.page.html
  auth-connect/getting-started/src/app/tab1/tab1.page.spec.ts
  auth-connect/getting-started/tsconfig.spec.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

fix(auth-connect): remove linting error
  auth-connect/getting-started/src/app/login/login.page.ts
  package.json
Due: prettier --write, eslint --fix

chore(): lint and test on push to main
  .husky/pre-push
Due: none

feat(AC): implement the refresh workflow
  auth-connect/refresh-workflow/src/app/core/authentication.service.spec.ts
  auth-connect/refresh-workflow/src/app/core/authentication.service.ts
Due: prettier --write, eslint --fix

fix(AC): use auth-action-complete rather than login
  auth-connect/getting-started/android/capacitor.settings.gradle
  auth-connect/getting-started/ios/App/Podfile
  auth-connect/getting-started/package.json
  auth-connect/getting-started/src/app/app.routes.ts
  auth-connect/getting-started/src/app/auth-action-complete/auth-action-complete.page.html
  auth-connect/getting-started/src/app/auth-action-complete/auth-action-complete.page.scss
  auth-connect/getting-started/src/app/auth-action-complete/auth-action-complete.page.spec.ts
  auth-connect/getting-started/src/app/auth-action-complete/auth-action-complete.page.ts
  auth-connect/getting-started/src/app/core/authentication.service.ts
  auth-connect/getting-started/src/app/login/login.page.spec.ts
  auth-connect/refresh-workflow/android/capacitor.settings.gradle
  auth-connect/refresh-workflow/ios/App/Podfile
  auth-connect/refresh-workflow/package.json
  auth-connect/refresh-workflow/src/app/app.routes.ts
  auth-connect/refresh-workflow/src/app/auth-action-complete/auth-action-complete.page.html
  auth-connect/refresh-workflow/src/app/auth-action-complete/auth-action-complete.page.scss
  auth-connect/refresh-workflow/src/app/auth-action-complete/auth-action-complete.page.spec.ts
  auth-connect/refresh-workflow/src/app/auth-action-complete/auth-action-complete.page.ts
  auth-connect/refresh-workflow/src/app/core/authentication.service.ts
  auth-connect/refresh-workflow/src/app/login/login.page.spec.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

chore(): fix the name of the root package
  package.json
Due: prettier --write

feat(AC): protect the routes
  auth-connect/getting-started/src/app/core/authentication.service.spec.ts
  auth-connect/getting-started/src/app/core/authentication.service.ts
  auth-connect/protect-routes/src/app/core/authentication.service.mock.ts
  auth-connect/protect-routes/src/app/core/authentication.service.spec.ts
  auth-connect/protect-routes/src/app/core/authentication.service.ts
  auth-connect/protect-routes/src/app/core/guards/auth.guard.spec.ts
  auth-connect/protect-routes/src/app/core/guards/auth.guard.ts
  auth-connect/protect-routes/src/app/core/interceptors/auth.interceptor.spec.ts
  auth-connect/protect-routes/src/app/core/interceptors/auth.interceptor.ts
  auth-connect/protect-routes/src/app/core/interceptors/unauth.interceptor.spec.ts
  auth-connect/protect-routes/src/app/core/interceptors/unauth.interceptor.ts
  auth-connect/protect-routes/src/app/tab1/tab1.page.html
  auth-connect/protect-routes/src/app/tab1/tab1.page.ts
  auth-connect/protect-routes/src/app/tabs/tabs.routes.ts
  auth-connect/protect-routes/src/main.ts
  auth-connect/refresh-workflow/src/app/core/authentication.service.spec.ts
Due: prettier --write, eslint --fix

fix(AC): await the check of auth
  auth-connect/getting-started/src/app/tab1/tab1.page.ts
  auth-connect/protect-routes/src/app/tab1/tab1.page.ts
  auth-connect/refresh-workflow/src/app/tab1/tab1.page.ts
Due: prettier --write, eslint --fix

fix(AC): take access token existence into account for refresh
  auth-connect/refresh-workflow/src/app/core/authentication.service.spec.ts
  auth-connect/refresh-workflow/src/app/core/authentication.service.ts
Due: prettier --write, eslint --fix

fix(AC): use Capacitor platform detection
  auth-connect/getting-started/android/capacitor.settings.gradle
  auth-connect/getting-started/ios/App/Podfile
  auth-connect/getting-started/package.json
  auth-connect/getting-started/src/app/core/authentication.service.ts
  auth-connect/protect-routes/android/capacitor.settings.gradle
  auth-connect/protect-routes/ios/App/Podfile
  auth-connect/protect-routes/package.json
  auth-connect/protect-routes/src/app/core/authentication.service.ts
  auth-connect/refresh-workflow/android/capacitor.settings.gradle
  auth-connect/refresh-workflow/ios/App/Podfile
  auth-connect/refresh-workflow/package.json
  auth-connect/refresh-workflow/src/app/core/authentication.service.ts
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

doc(README): use 'start' rather than 'dev'
  README.md
Due: prettier --write

feat(AC): use io.ionic.acdemo for the URL scheme
  auth-connect/getting-started/android/app/build.gradle
  auth-connect/getting-started/ios/App/App/Info.plist
  auth-connect/getting-started/package.json
  auth-connect/getting-started/src/app/core/authentication.service.ts
  auth-connect/protect-routes/android/app/build.gradle
  auth-connect/protect-routes/ios/App/App/Info.plist
  auth-connect/protect-routes/package.json
  auth-connect/protect-routes/src/app/core/authentication.service.ts
  auth-connect/refresh-workflow/android/app/build.gradle
  auth-connect/refresh-workflow/ios/App/App/Info.plist
  auth-connect/refresh-workflow/package.json
  auth-connect/refresh-workflow/src/app/core/authentication.service.ts
  demos/iv-ac/android/app/build.gradle
  demos/iv-ac/android/build.gradle
  demos/security-trifecta/android/app/build.gradle
  demos/security-trifecta/android/build.gradle
  demos/security-trifecta/ios/App/App/Info.plist
  demos/security-trifecta/src/environments/environment.prod.ts
  demos/security-trifecta/src/environments/environment.ts
  demos/tea-taster/android/build.gradle
Due: prettier --write, eslint --fix

chore(): upgrade to latest @ionic/angular
  auth-connect/getting-started/package.json
  auth-connect/protect-routes/package.json
  auth-connect/refresh-workflow/package.json
  demos/auth-playground/package.json
  demos/iv-ac/package.json
  demos/pwa/package.json
  demos/security-trifecta/package.json
  demos/state-management/package.json
  demos/tea-taster/package.json
  pnpm-lock.yaml
Due: prettier --write

feat(a11y): implement dynamic fonts
  demos/auth-playground/package.json
  demos/auth-playground/src/app/login/login.page.scss
  demos/auth-playground/src/app/pin-dialog/pin-dialog.component.scss
  demos/auth-playground/src/app/tea-list/tea-list.page.scss
  demos/auth-playground/src/app/unlock/unlock.page.scss
  demos/auth-playground/src/global.scss
  demos/iv-ac/src/app/login/login.page.scss
  demos/iv-ac/src/app/pin-dialog/pin-dialog.component.scss
  demos/iv-ac/src/app/tea/tea.page.scss
  demos/iv-ac/src/app/unlock/unlock.page.scss
  demos/iv-ac/src/global.scss
  demos/pwa/src/app/unlock/unlock.page.scss
  demos/security-trifecta/src/app/pin-dialog/pin-dialog.component.scss
  demos/security-trifecta/src/global.scss
  demos/security-trifecta/src/theme/custom-colors.scss
  demos/tea-taster/src/app/tea/tea.page.scss
  demos/tea-taster/src/global.scss
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

doc(README): reference actual demos
  README.md
Due: prettier --write

chore(): upgrade Angular
  auth-connect/getting-started/package.json
  auth-connect/protect-routes/package.json
  auth-connect/refresh-workflow/package.json
  demos/auth-playground/package.json
  demos/iv-ac/package.json
  demos/pwa/package.json
  demos/security-trifecta/package.json
  demos/state-management/package.json
  demos/tea-taster/package.json
  pnpm-lock.yaml
Due: prettier --write

fix(a11y): favor rem or em
  demos/auth-playground/src/app/vault-control/vault-control.page.scss
Due: prettier --write, eslint --fix

fix(state-management): build and test with strict TS settings
  README.md
  demos/state-management/src/app/about/about.page.ts
  demos/state-management/src/app/core/authentication/authentication.service.mock.ts
  demos/state-management/src/app/core/authentication/authentication.service.ts
  demos/state-management/src/app/core/session-vault/session-vault.service.spec.ts
  demos/state-management/src/app/core/session-vault/session-vault.service.ts
  demos/state-management/src/app/core/tea/tea.service.spec.ts
  demos/state-management/src/app/core/tea/tea.service.ts
  demos/state-management/src/app/login/login.page.ts
  demos/state-management/src/app/models/tea.ts
  demos/state-management/src/app/pin-dialog/pin-dialog.component.ts
  demos/state-management/src/app/store/effects/auth.effects.ts
  demos/state-management/src/app/store/effects/data.effects.spec.ts
  demos/state-management/src/app/store/effects/data.effects.ts
  demos/state-management/src/app/store/reducers/data.reducer.spec.ts
  demos/state-management/src/app/store/selectors/data.selectors.ts
  demos/state-management/src/app/tasting-notes/tasting-note-editor/tasting-note-editor.component.ts
  demos/state-management/src/app/tasting-notes/tasting-notes.page.ts
  demos/state-management/src/app/tea-details/tea-details.page.ts
  demos/state-management/src/app/tea/tea.page.spec.ts
  demos/state-management/src/app/tea/tea.page.ts
  demos/state-management/tsconfig.json
Due: prettier --write, eslint --fix

chore(): upgrade dependencies
  auth-connect/getting-started/android/capacitor.settings.gradle
  auth-connect/getting-started/angular.json
  auth-connect/getting-started/ios/App/Podfile
  auth-connect/getting-started/package.json
  auth-connect/protect-routes/android/capacitor.settings.gradle
  auth-connect/protect-routes/angular.json
  auth-connect/protect-routes/ios/App/Podfile
  auth-connect/protect-routes/package.json
  auth-connect/refresh-workflow/android/capacitor.settings.gradle
  auth-connect/refresh-workflow/angular.json
  auth-connect/refresh-workflow/ios/App/Podfile
  auth-connect/refresh-workflow/package.json
  demos/auth-playground/android/app/capacitor.build.gradle
  demos/auth-playground/android/capacitor.settings.gradle
  demos/auth-playground/ios/App/Podfile
  demos/auth-playground/package.json
  demos/iv-ac/angular.json
  demos/iv-ac/package.json
  demos/pwa/android/app/capacitor.build.gradle
  demos/pwa/android/capacitor.settings.gradle
  demos/pwa/angular.json
  demos/pwa/ios/App/Podfile
  demos/pwa/package.json
  demos/security-trifecta/android/app/capacitor.build.gradle
  demos/security-trifecta/android/capacitor.settings.gradle
  demos/security-trifecta/angular.json
  demos/security-trifecta/ios/App/Podfile
  demos/security-trifecta/package.json
  demos/state-management/package.json
  demos/tea-taster/android/capacitor.settings.gradle
  demos/tea-taster/angular.json
  demos/tea-taster/ios/App/Podfile
  demos/tea-taster/package.json
  pnpm-lock.yaml
Due: prettier --write

doc(PACKAGES): document the different packages in the monorepo
  CONTRIBUTING.md
  PACKAGES.md
  README.md
  demos/auth-playground/README.md
  demos/iv-ac/README.md
  demos/iv-ac/ios/App/App.xcodeproj/project.pbxproj
  demos/pwa/README.md
  demos/security-trifecta/README.md
  demos/security-trifecta/angular.json
  demos/state-management/README.md
  demos/tea-taster/README.md
Due: prettier --write

doc(README): make sure people know how to build the apps stand-alone
  PACKAGES.md
  demos/auth-playground/README.md
  demos/iv-ac/README.md
  demos/pwa/README.md
  demos/security-trifecta/README.md
  demos/state-management/README.md
  demos/tea-taster/README.md
Due: prettier --write

docs(README): clarify a couple of items
  PACKAGES.md
  README.md
Due: prettier --write

fix(all): prefix the projects for better groupings
  PACKAGES.md
  auth-connect/getting-started/package.json
  auth-connect/protect-routes/package.json
  auth-connect/refresh-workflow/package.json
  demos/auth-playground/package.json
  demos/iv-ac/package.json
  demos/pwa/package.json
  demos/security-trifecta/package.json
  demos/state-management/package.json
  demos/tea-taster/package.json
  pnpm-lock.yaml
Due: prettier --write

docs(README): fix formatting and spelling
  CONTRIBUTING.md
  PACKAGES.md
  README.md
Due: prettier --write

docs(README): use the proper prefix on the package name
  README.md
Due: prettier --write

feat(demos): log any vault errors
  auth-connect/getting-started/package.json
  auth-connect/protect-routes/package.json
  auth-connect/refresh-workflow/package.json
  demos/auth-playground/package.json
  demos/auth-playground/src/app/core/session-vault/session-vault.service.spec.ts
  demos/auth-playground/src/app/core/session-vault/session-vault.service.ts
  demos/iv-ac/package.json
  demos/iv-ac/src/app/core/session-vault/session-vault.service.spec.ts
  demos/iv-ac/src/app/core/session-vault/session-vault.service.ts
  demos/pwa/package.json
  demos/pwa/src/app/core/session-vault/session-vault.service.spec.ts
  demos/pwa/src/app/core/session-vault/session-vault.service.ts
  demos/security-trifecta/package.json
  demos/security-trifecta/src/app/core/session-vault/session-vault.service.spec.ts
  demos/security-trifecta/src/app/core/session-vault/session-vault.service.ts
  demos/state-management/package.json
  demos/state-management/src/app/core/session-vault/session-vault.service.spec.ts
  demos/state-management/src/app/core/session-vault/session-vault.service.ts
  demos/tea-taster/package.json
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

fix(IV): remove lint warnings
  identity-vault/getting-started/src/app/tab1/tab1.page.ts
Due: prettier --write, eslint --fix

fix(IV): use clear() rather than removeValue()
  identity-vault/getting-started/src/app/core/session-vault.service.spec.ts
  identity-vault/getting-started/src/app/core/session-vault.service.ts
Due: prettier --write, eslint --fix

replicate the issue
  identity-vault/getting-started/ios/App/App.xcodeproj/project.pbxproj
  identity-vault/getting-started/src/app/core/session-vault.service.ts
  identity-vault/getting-started/src/app/tab1/tab1.page.html
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: *.{css,html,js,jsx,scss,ts,tsx}) or (any of: *.{md,json})
  eslint --fix: any of: *.{css,html,js,jsx,scss,ts,tsx}
