Repository ionic-enterprise/tutorials-and-demos-ng: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.{css,html,js,jsx,scss,ts,tsx}": ["prettier --write", "eslint --fix"],
  "*.{md,json}": ["prettier --write"]
}

chore(): update dependencies
  auth-connect/getting-started/package.json
  auth-connect/protect-routes/package.json
  auth-connect/refresh-workflow/package.json
  demos/auth-playground/package.json
  demos/iv-ac/package.json
  demos/pwa/package.json
  demos/security-trifecta/package.json
  demos/state-management/package.json
  demos/tea-taster/package.json
  identity-vault/getting-started/package.json
  identity-vault/startup-strategies/package.json
  pnpm-lock.yaml
Due: prettier --write

chore(): restore config changes that were lost somehow
  auth-connect/getting-started/angular.json
  auth-connect/protect-routes/angular.json
  auth-connect/refresh-workflow/angular.json
  demos/iv-ac/angular.json
  demos/pwa/angular.json
  demos/security-trifecta/angular.json
  demos/tea-taster/angular.json
  identity-vault/getting-started/angular.json
  identity-vault/getting-started/capacitor.config.ts
  identity-vault/startup-strategies/angular.json
  identity-vault/startup-strategies/capacitor.config.ts
Due: prettier --write, eslint --fix

chore(): update the framework
  auth-connect/getting-started/package.json
  auth-connect/protect-routes/package.json
  auth-connect/refresh-workflow/package.json
  demos/auth-playground/package.json
  demos/iv-ac/package.json
  demos/pwa/package.json
  demos/security-trifecta/package.json
  demos/state-management/package.json
  demos/tea-taster/package.json
  identity-vault/getting-started/package.json
  identity-vault/startup-strategies/package.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore(): gradle upgrade
  identity-vault/startup-strategies/android/app/build.gradle
  identity-vault/startup-strategies/android/build.gradle
  identity-vault/startup-strategies/android/gradle/wrapper/gradle-wrapper.properties
Due: none

fix(IV): modify the startup locking behavior
  auth-connect/getting-started/package.json
  auth-connect/protect-routes/package.json
  auth-connect/refresh-workflow/package.json
  demos/auth-playground/package.json
  demos/iv-ac/package.json
  demos/pwa/package.json
  demos/security-trifecta/package.json
  demos/state-management/package.json
  demos/tea-taster/package.json
  identity-vault/getting-started/package.json
  identity-vault/getting-started/src/app/core/session-vault.service.spec.ts
  identity-vault/getting-started/src/app/core/session-vault.service.ts
  identity-vault/startup-strategies/package.json
  identity-vault/startup-strategies/src/app/core/session-vault.service.spec.ts
  identity-vault/startup-strategies/src/app/core/session-vault.service.ts
  identity-vault/startup-strategies/src/app/start/start.page.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

Changed Device Security Type to Biometrics
  identity-vault/device-api/src/app/core/session-vault.service.ts
Due: prettier --write, eslint --fix

chore(): upgrade dependencies
  auth-connect/getting-started/package.json
  auth-connect/protect-routes/package.json
  auth-connect/refresh-workflow/package.json
  demos/auth-playground/package.json
  demos/iv-ac/package.json
  demos/pwa/package.json
  demos/security-trifecta/package.json
  demos/state-management/package.json
  demos/tea-taster/package.json
  identity-vault/device-api/package.json
  identity-vault/device-api/src/app/core/session-vault.service.ts
  identity-vault/getting-started/package.json
  identity-vault/startup-strategies/package.json
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

fix(iv): fix the timeout
  identity-vault/device-api/src/app/core/session-vault.service.ts
Due: prettier --write, eslint --fix

fix(iv): remove debug alert accidentally left in
  identity-vault/device-api/src/app/core/session-vault.service.ts
Due: prettier --write, eslint --fix

fix(IV): clear the vault if the init fails
  auth-connect/getting-started/package.json
  auth-connect/protect-routes/package.json
  auth-connect/refresh-workflow/package.json
  demos/auth-playground/package.json
  demos/auth-playground/src/app/core/session-vault/session-vault.service.ts
  demos/iv-ac/package.json
  demos/iv-ac/src/app/core/session-vault/session-vault.service.ts
  demos/pwa/package.json
  demos/pwa/src/app/core/session-vault/session-vault.service.ts
  demos/security-trifecta/package.json
  demos/security-trifecta/src/app/core/session-vault/session-vault.service.ts
  demos/state-management/package.json
  demos/state-management/src/app/core/session-vault/session-vault.service.ts
  demos/tea-taster/package.json
  identity-vault/device-api/package.json
  identity-vault/device-api/src/app/core/session-vault.service.ts
  identity-vault/getting-started/package.json
  identity-vault/getting-started/src/app/core/session-vault.service.ts
  identity-vault/startup-strategies/package.json
  identity-vault/startup-strategies/src/app/core/session-vault.service.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

chore(): update dependencies
  auth-connect/getting-started/package.json
  auth-connect/protect-routes/package.json
  auth-connect/refresh-workflow/package.json
  demos/auth-playground/android/app/build.gradle
  demos/auth-playground/android/build.gradle
  demos/auth-playground/android/gradle/wrapper/gradle-wrapper.properties
  demos/auth-playground/package.json
  demos/iv-ac/android/app/build.gradle
  demos/iv-ac/android/build.gradle
  demos/iv-ac/android/gradle/wrapper/gradle-wrapper.properties
  demos/iv-ac/package.json
  demos/pwa/package.json
  demos/security-trifecta/package.json
  demos/state-management/package.json
  demos/tea-taster/android/build.gradle
  demos/tea-taster/android/gradle/wrapper/gradle-wrapper.properties
  demos/tea-taster/package.json
  identity-vault/device-api/package.json
  identity-vault/getting-started/android/build.gradle
  identity-vault/getting-started/android/gradle/wrapper/gradle-wrapper.properties
  identity-vault/getting-started/package.json
  identity-vault/startup-strategies/package.json
  pnpm-lock.yaml
Due: prettier --write

chore(): show isLocked when empty
  identity-vault/getting-started/src/app/core/session-vault.service.ts
  identity-vault/getting-started/src/app/tab1/tab1.page.html
  identity-vault/getting-started/src/app/tab1/tab1.page.ts
Due: prettier --write, eslint --fix

chore(): upgrade dependencies
  auth-connect/getting-started/package.json
  auth-connect/protect-routes/package.json
  auth-connect/refresh-workflow/package.json
  demos/auth-playground/package.json
  demos/iv-ac/package.json
  demos/pwa/package.json
  demos/security-trifecta/package.json
  demos/state-management/package.json
  demos/tea-taster/package.json
  identity-vault/device-api/package.json
  identity-vault/getting-started/package.json
  identity-vault/startup-strategies/package.json
  pnpm-lock.yaml
Due: prettier --write

fix(style): remove explicit ion-default-dynamic-font declarations
  auth-connect/getting-started/package.json
  auth-connect/protect-routes/package.json
  auth-connect/refresh-workflow/package.json
  demos/auth-playground/package.json
  demos/auth-playground/src/global.scss
  demos/iv-ac/package.json
  demos/iv-ac/src/global.scss
  demos/pwa/package.json
  demos/pwa/src/global.scss
  demos/security-trifecta/package.json
  demos/security-trifecta/src/global.scss
  demos/state-management/package.json
  demos/state-management/src/global.scss
  demos/tea-taster/package.json
  demos/tea-taster/src/global.scss
  identity-vault/device-api/package.json
  identity-vault/getting-started/package.json
  identity-vault/startup-strategies/package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

WIP - install debug build
  identity-vault/getting-started/android/app/capacitor.build.gradle
  identity-vault/getting-started/package.json
  pnpm-lock.yaml
Due: prettier --write

chore(): upgrade all dependencies
  auth-connect/getting-started/package.json
  auth-connect/protect-routes/package.json
  auth-connect/refresh-workflow/package.json
  demos/auth-playground/package.json
  demos/iv-ac/package.json
  demos/pwa/package.json
  demos/security-trifecta/package.json
  demos/state-management/package.json
  demos/tea-taster/package.json
  identity-vault/device-api/package.json
  identity-vault/getting-started/package.json
  identity-vault/startup-strategies/package.json
  pnpm-lock.yaml
Due: prettier --write

chore(): update to NG 18
  auth-connect/getting-started/package.json
  auth-connect/protect-routes/package.json
  auth-connect/refresh-workflow/package.json
  demos/auth-playground/package.json
  demos/auth-playground/src/app/core/authentication/basic-authentication/basic-authentication.service.spec.ts
  demos/auth-playground/src/app/core/tea/tea.service.spec.ts
  demos/iv-ac/package.json
  demos/iv-ac/src/app/core/tasting-notes/tasting-notes.service.spec.ts
  demos/iv-ac/src/app/core/tea/tea.service.spec.ts
  demos/pwa/package.json
  demos/pwa/src/app/core/tasting-notes/tasting-notes.service.spec.ts
  demos/pwa/src/app/core/tea/tea.service.spec.ts
  demos/security-trifecta/package.json
  demos/security-trifecta/src/app/core/encryption/encryption.service.spec.ts
  demos/security-trifecta/src/app/core/tasting-notes-api/tasting-notes-api.service.spec.ts
  demos/security-trifecta/src/app/core/tea-categories-api/tea-categories-api.service.spec.ts
  demos/state-management/package.json
  demos/state-management/src/app/core/tasting-notes/tasting-notes.service.spec.ts
  demos/state-management/src/app/core/tea/tea.service.spec.ts
  demos/tea-taster/package.json
  demos/tea-taster/src/app/core/authentication/authentication.service.spec.ts
  demos/tea-taster/src/app/core/tasting-notes/tasting-notes.service.spec.ts
  demos/tea-taster/src/app/core/tea/tea.service.spec.ts
  identity-vault/device-api/package-lock.json
  identity-vault/device-api/package.json
  identity-vault/getting-started/package-lock.json
  identity-vault/getting-started/package.json
  identity-vault/startup-strategies/package-lock.json
  identity-vault/startup-strategies/package.json
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

fix(ac): centralize the AC initialization
  auth-connect/getting-started/src/app/core/authentication.service.spec.ts
  auth-connect/getting-started/src/app/core/authentication.service.ts
  auth-connect/getting-started/src/main.ts
  auth-connect/protect-routes/src/app/core/authentication.service.spec.ts
  auth-connect/protect-routes/src/app/core/authentication.service.ts
  auth-connect/protect-routes/src/main.ts
  auth-connect/refresh-workflow/src/app/core/authentication.service.spec.ts
  auth-connect/refresh-workflow/src/app/core/authentication.service.ts
  auth-connect/refresh-workflow/src/main.ts
  demos/auth-playground/src/app/core/authentication/oidc-authentication/oidc-authentication.service.spec.ts
  demos/auth-playground/src/app/core/authentication/oidc-authentication/oidc-authentication.service.ts
  demos/auth-playground/src/main.ts
  demos/iv-ac/src/app/core/authentication/authentication.service.spec.ts
  demos/iv-ac/src/app/core/authentication/authentication.service.ts
  demos/iv-ac/src/main.ts
  demos/pwa/src/app/core/authentication/authentication.service.spec.ts
  demos/pwa/src/app/core/authentication/authentication.service.ts
  demos/pwa/src/main.ts
  demos/security-trifecta/src/app/core/authentication/authentication.service.spec.ts
  demos/security-trifecta/src/app/core/authentication/authentication.service.ts
  demos/security-trifecta/src/main.ts
  demos/state-management/src/app/core/authentication/authentication.service.ts
  demos/state-management/src/main.ts
Due: prettier --write, eslint --fix

chore(): gradle update
  auth-connect/getting-started/android/build.gradle
  auth-connect/getting-started/android/gradle/wrapper/gradle-wrapper.properties
  auth-connect/protect-routes/android/build.gradle
  auth-connect/protect-routes/android/gradle/wrapper/gradle-wrapper.properties
  auth-connect/refresh-workflow/android/build.gradle
  auth-connect/refresh-workflow/android/gradle/wrapper/gradle-wrapper.properties
  demos/auth-playground/android/build.gradle
  demos/auth-playground/android/gradle/wrapper/gradle-wrapper.properties
  demos/iv-ac/android/app/build.gradle
  demos/iv-ac/android/build.gradle
  demos/iv-ac/android/gradle/wrapper/gradle-wrapper.properties
  demos/pwa/android/build.gradle
  demos/pwa/android/gradle/wrapper/gradle-wrapper.properties
  demos/security-trifecta/android/build.gradle
  demos/security-trifecta/android/gradle/wrapper/gradle-wrapper.properties
  demos/state-management/android/build.gradle
  demos/state-management/android/gradle/wrapper/gradle-wrapper.properties
  demos/tea-taster/android/build.gradle
  demos/tea-taster/android/gradle/wrapper/gradle-wrapper.properties
  identity-vault/device-api/android/build.gradle
  identity-vault/device-api/android/gradle/wrapper/gradle-wrapper.properties
  identity-vault/getting-started/android/build.gradle
  identity-vault/getting-started/android/gradle/wrapper/gradle-wrapper.properties
  identity-vault/startup-strategies/android/build.gradle
  identity-vault/startup-strategies/android/gradle/wrapper/gradle-wrapper.properties
Due: none

chore(): apply full dependency updates
  auth-connect/getting-started/package.json
  auth-connect/protect-routes/package.json
  auth-connect/refresh-workflow/package.json
  demos/auth-playground/package.json
  demos/iv-ac/package.json
  demos/pwa/package.json
  demos/security-trifecta/package.json
  demos/state-management/.eslintrc.json
  demos/state-management/package.json
  demos/state-management/src/app/login/login.page.ts
  demos/state-management/src/app/store/effects/auth.effects.ts
  demos/state-management/src/app/store/effects/data.effects.ts
  demos/state-management/src/app/store/selectors/auth.selectors.ts
  demos/state-management/src/app/store/selectors/data.selectors.ts
  demos/state-management/src/app/tasting-notes/tasting-note-editor/tasting-note-editor.component.ts
  demos/state-management/src/app/tasting-notes/tasting-notes.page.ts
  demos/state-management/src/app/tea-details/tea-details.page.ts
  demos/state-management/src/app/tea/tea.page.ts
  demos/tea-taster/package.json
  identity-vault/device-api/package.json
  identity-vault/getting-started/package.json
  identity-vault/startup-strategies/package.json
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

WIP - consistently use control flow syntax in the PIN modal rather than structural directives
  demos/auth-playground/src/app/pin-dialog/pin-dialog.component.html
  demos/auth-playground/src/app/pin-dialog/pin-dialog.component.ts
  demos/iv-ac/src/app/pin-dialog/pin-dialog.component.html
  demos/iv-ac/src/app/pin-dialog/pin-dialog.component.ts
  demos/pwa/src/app/pin-dialog/pin-dialog.component.html
  demos/pwa/src/app/pin-dialog/pin-dialog.component.ts
  demos/security-trifecta/src/app/pin-dialog/pin-dialog.component.html
  demos/security-trifecta/src/app/pin-dialog/pin-dialog.component.ts
  demos/state-management/src/app/pin-dialog/pin-dialog.component.html
  demos/state-management/src/app/pin-dialog/pin-dialog.component.ts
Due: prettier --write, eslint --fix

update angular
  auth-connect/getting-started/package.json
  auth-connect/protect-routes/package.json
  auth-connect/refresh-workflow/package.json
  demos/auth-playground/package.json
  demos/iv-ac/package.json
  demos/pwa/package.json
  demos/security-trifecta/package.json
  demos/state-management/package.json
  demos/tea-taster/package.json
  identity-vault/custom-passcode/package.json
  identity-vault/device-api/package.json
  identity-vault/getting-started/package.json
  identity-vault/startup-strategies/package.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

update dependencies
  auth-connect/getting-started/package.json
  auth-connect/protect-routes/package.json
  auth-connect/refresh-workflow/package.json
  demos/auth-playground/package.json
  demos/iv-ac/package.json
  demos/pwa/package.json
  demos/security-trifecta/package.json
  demos/state-management/package.json
  demos/tea-taster/package.json
  identity-vault/custom-passcode/package.json
  identity-vault/device-api/package.json
  identity-vault/getting-started/package.json
  identity-vault/startup-strategies/package.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore(): update dependencies
  auth-connect/getting-started/package.json
  auth-connect/protect-routes/package.json
  auth-connect/refresh-workflow/package.json
  demos/auth-playground/package.json
  demos/iv-ac/package.json
  demos/pwa/package.json
  demos/security-trifecta/package.json
  demos/state-management/package.json
  demos/tea-taster/package.json
  identity-vault/custom-passcode/package.json
  identity-vault/device-api/package.json
  identity-vault/getting-started/package.json
  identity-vault/startup-strategies/package.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore(): update to AC bug fix build
  auth-connect/getting-started/package.json
  auth-connect/protect-routes/package.json
  auth-connect/refresh-workflow/package.json
  demos/auth-playground/package.json
  demos/iv-ac/package.json
  demos/pwa/package.json
  demos/security-trifecta/package.json
  demos/state-management/package.json
  pnpm-lock.yaml
Due: prettier --write

chore(): uprade dependencies
  auth-connect/getting-started/package.json
  auth-connect/protect-routes/package.json
  auth-connect/refresh-workflow/package.json
  demos/auth-playground/package.json
  demos/iv-ac/package.json
  demos/pwa/package.json
  demos/security-trifecta/package.json
  demos/state-management/package.json
  demos/tea-taster/package.json
  identity-vault/custom-passcode/package.json
  identity-vault/device-api/package.json
  identity-vault/getting-started/package.json
  identity-vault/startup-strategies/package.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore(): back off to zone 0.14.x and remove stencil peer dep
  auth-connect/getting-started/package.json
  auth-connect/protect-routes/package.json
  auth-connect/refresh-workflow/package.json
  demos/auth-playground/package.json
  demos/iv-ac/package.json
  demos/pwa/package.json
  demos/security-trifecta/package.json
  demos/state-management/package.json
  demos/tea-taster/package.json
  identity-vault/custom-passcode/package.json
  identity-vault/device-api/package.json
  identity-vault/getting-started/package.json
  identity-vault/startup-strategies/package.json
  pnpm-lock.yaml
Due: prettier --write

fix(iv): use a more reasonable unlock strategy
  identity-vault/custom-passcode/ios/App/App.xcodeproj/project.pbxproj
  identity-vault/custom-passcode/src/app/app.component.ts
  identity-vault/custom-passcode/src/app/app.routes.ts
  identity-vault/custom-passcode/src/app/start/start.page.html
  identity-vault/custom-passcode/src/app/start/start.page.ts
  identity-vault/custom-passcode/src/app/unlock/unlock.page.html
  identity-vault/custom-passcode/src/app/unlock/unlock.page.scss
  identity-vault/custom-passcode/src/app/unlock/unlock.page.spec.ts
  identity-vault/custom-passcode/src/app/unlock/unlock.page.ts
  identity-vault/device-api/src/app/app.component.ts
  identity-vault/device-api/src/app/app.routes.ts
  identity-vault/device-api/src/app/start/start.page.html
  identity-vault/device-api/src/app/start/start.page.ts
  identity-vault/device-api/src/app/unlock/unlock.page.html
  identity-vault/device-api/src/app/unlock/unlock.page.scss
  identity-vault/device-api/src/app/unlock/unlock.page.spec.ts
  identity-vault/device-api/src/app/unlock/unlock.page.ts
  identity-vault/startup-strategies/src/app/app.component.ts
  identity-vault/startup-strategies/src/app/app.routes.ts
  identity-vault/startup-strategies/src/app/start/start.page.html
  identity-vault/startup-strategies/src/app/start/start.page.ts
  identity-vault/startup-strategies/src/app/unlock/unlock.page.html
  identity-vault/startup-strategies/src/app/unlock/unlock.page.scss
  identity-vault/startup-strategies/src/app/unlock/unlock.page.spec.ts
  identity-vault/startup-strategies/src/app/unlock/unlock.page.ts
Due: prettier --write, eslint --fix

fix(iv): make method names consistent
  identity-vault/startup-strategies/src/app/start/start.page.ts
Due: prettier --write, eslint --fix
